<header></header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Posts List
            </h1>

            <div class="blog-post" ng-repeat="post in $ctrl.posts">
                <h2>
	                <a href="/posts/58af47e442329c0011340ce9">{{post.title}}</a>
                </h2>

                <p class="lead">
	                by <small><i>{{post.author.name}}</i></small>
                </p>

                <p>
	                {{post.description}}
                </p>
                <a class="btn btn-primary" href="/posts/58af47e442329c0011340ce9">
	                Read More <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <hr>
            </div>            
        </div>
    </div>
</div>