<header></header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="addNwPost" ng-submit="$ctrl.addPost(addNwPost)" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" 
                          class="form-control" 
                          id="name" 
                          name="title"
                          required="required"
                          placeholder="Title" 
                          value=""
                          ng-model="$ctrl.title"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="message" class="col-sm-2 control-label">Message</label>
                    <div class="col-sm-10">
                        <textarea required="required" class="form-control" rows="4" ng-model="$ctrl.message" name="description">
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input id="button" ng-disabled="addNwPost.$invalid" name="submit" type="submit" value="Add" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>