<div class="ui-view-wrapper">
  <div class="login-wrapper">
    <div class="login-wrapper__center">
    <form name="loginForm" ng-submit="$ctrl.submitForm(loginForm)" role="loginForm" class="form-signin">
      <h2 class="form-signin__heading">Please login</h2>
      <input type="text" name="username"
        placeholder="Email Address"
        ng-class="{ 'has-error': loginForm.username.$dirty &amp;&amp; loginForm.username.$error.required }"
        ng-model="$ctrl.username"
        ng-minlength="4"
        required="required"
        autofocus="autofocus"
        class="form-control form-signin__login"/>

      <input type="password" name="password"
        placeholder="Password"
        ng-model="$ctrl.password"
        ng-class="{ 'has-error': loginForm.password.$dirty &amp;&amp; loginForm.password.$error.required }"
        required="required"
        class="form-control 
        form-signin__pass"/>
        
      <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-primary btn-block">Login</button>
      
    </form>
    </div>
  </div>
</div>