.login-wrapper {
  height: 100%;
  width: 100%;
  display: table;

  &__center {
    display: table-cell;
    vertical-align: middle;
  }
  .form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &__heading,
    &__checkbox {
      margin-bottom: 30px;
    }

    &__checkbox {
      font-weight: normal;
      margin-left: 20px;
    }

    &__login,
    &__pass {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      box-sizing: border-box;

      &:focus {
        z-index: 2;
      }
    }

    &__login {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &__pass {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

input.ng-dirty.ng-invalid {
  color: red
}
